/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
    font-family: "League Spartan", sans-serif;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
:root{
  /* Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Very-Dark-Magenta-footer: hsl(300, 43%, 15%);
  --Soft-Pink: hsl(333, 80%, 67%);
  
  /* Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
.attribution { 
  font-size: 14px; 
  text-align: center;
  background: var(--Very-Dark-Magenta-footer);
  color: #fff;
  padding: 24px;
}
.attribution a { 
  color: hsl(228, 45%, 60%); 
}
p{
    font-size: 15px;
}
.phar{
  color: var(--Dark-Grayish-Magenta);
  font-weight: 400;
}
.main{
  position: relative;
  margin: 7vw 10vw;
}
.header{
  font-weight: 700;
  font-size: 60px;
  color: var(--Very-Dark-Magenta);
  line-height: 60px;
  margin-bottom: 24px;
  font-weight: 700;
}
.top{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15vw;
  margin-bottom: 60px;
}
.right{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: end;
}
.rating{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: var(--Light-Grayish-Magenta);
  /* background: var(--Dark-Grayish-Magenta); */
  border-radius: 8px;
  width: 400px;
}
.purple{
  color: var(--Very-Dark-Magenta);
  font-weight: 500;
}
.rating-1{
  margin-right: 120px;
}
.rating-2{
  margin-right: 60px;
}
.star-cont{
  display: flex;
  align-items: center;
  gap: 8px;
}
.bottom{
  display: flex;
  gap: 24px;
}
.profile-card{
  position: relative;
  background: var(--Very-Dark-Magenta);
  border-radius: 8px;
  padding: 24px;
}
.card-2{
  top: 24px;
}
.card-3{
  top: 48px;
}
.phar.white{
  color: var(--White);
}
.profile{
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.profile-img{
  width: 40px;
  height: 40px;border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.profile-img-1{
  background-image: url(images/image-colton.jpg);
}
.profile-img-2{
  background-image: url(images/image-irene.jpg);
}
.profile-img-3{
  background-image: url(images/image-anne.jpg);
}
.name{
  color: var(--White);
  font-weight: 500;
}
.role{
  color: var(--Soft-Pink);
  font-weight: 500;
}
.pattent-top{
  position: absolute;
  top: 0;
  width: 100vw;
}
.pattent-bottom{
  position: absolute;
  bottom: 0;
  width: 100vw;
}
/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1400px)  {
  .top{
    gap: 5vw;
  }
}
@media (width < 1200px)  {}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {
  .top{
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {
  .bottom{
    flex-direction: column;
  }
  .card-2{
    top: 0;
  }
  .card-3{
    top: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {
  .main{
    margin: 0;
    padding: 15vw 24px;
  }
  .header{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
  }
  .top .phar{
    text-align: center;
  }
  .rating{
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }
  .rating-1{
    width: 100%;
    margin: 0;
  }
  .rating-2{
    width: 100%;
    margin: 0;
  }
}